@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #339, #f0c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main paragraph background card */
.presentation-card {
  width: 600px;
  background: rgba(255, 255, 255, 0.5); /* Translucent background */
  padding: 3rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Rotated background layer */
.presentation-card::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.15); /* Subtle background layer */
  inset: 0;
  transform: rotate(-5deg);
  z-index: -1;
  border-radius: 12px; /* Ensure it follows the card shape */
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #90ee90;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
}

p {
  font-size: 18px;
  color: #444;
}

.slide img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #339;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #f0c;
  transform: translateY(-2px);
}
